In [1]:
import pandas as pd

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import  OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.cluster import KMeans, DBSCAN
from sklearn.metrics import  silhouette_score

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 

import plotly.express as px
import plotly.io as pio
pio.renderers.default = "iframe_connected"

In [2]:
result1415=pd.read_csv("/Users/fezzibasma/Desktop/Data Full-Stack/Machine Learning Unsupervised/Projet Uber/export_step/aggregate_1415.csv",index_col=[0])
result1415.head()

,Date,Time,locationID,Base,Lon,Lat,Borough,Zone
0,9/1/2014,0:03:00,48.0,B02512,-73.99,40.76,Manhattan,Clinton East
1,9/1/2014,0:33:00,161.0,B02512,-73.98,40.76,Manhattan,Midtown Center
2,9/1/2014,0:33:00,230.0,B02512,-73.98,40.76,Manhattan,Times Sq/Theatre District
3,9/1/2014,0:37:00,166.0,B02512,-73.96,40.81,Manhattan,Morningside Heights
4,9/1/2014,0:48:00,114.0,B02512,-73.99,40.72,Manhattan,Greenwich Village South

In [3]:
# Statistiques basiques
print("Nombre de lignes : {}".format(result1415.shape[0]))
print()

print("Aperçu du dataset : ")
display(result1415.head())
print()

print("Statistiques basiques : ")
data_desc = result1415.describe(include='all')
display(data_desc)
print()

print("Pourcentage de valeurs manquantes : ")
display(100*result1415.isnull().sum()/result1415.shape[0])

Nombre de lignes : 15167685

Aperçu du dataset :

,Date,Time,locationID,Base,Lon,Lat,Borough,Zone
0,9/1/2014,0:03:00,48.0,B02512,-73.99,40.76,Manhattan,Clinton East
1,9/1/2014,0:33:00,161.0,B02512,-73.98,40.76,Manhattan,Midtown Center
2,9/1/2014,0:33:00,230.0,B02512,-73.98,40.76,Manhattan,Times Sq/Theatre District
3,9/1/2014,0:37:00,166.0,B02512,-73.96,40.81,Manhattan,Morningside Heights
4,9/1/2014,0:48:00,114.0,B02512,-73.99,40.72,Manhattan,Greenwich Village South

Statistiques basiques :

,Date,Time,locationID,Base,Lon,Lat,Borough,Zone
count,15167685,15167685,1.516768e+07,15167685,1.516768e+07,1.516768e+07,15167685,15167685
unique,211,87000,NaN,284,NaN,NaN,6,259
top,27/06/15,19:18:00,NaN,B02764,NaN,NaN,Manhattan,Midtown Center
freq,136201,13466,NaN,4528479,NaN,NaN,11223950,499344
mean,NaN,NaN,1.521517e+02,NaN,-7.396712e+01,4.073975e+01,NaN,NaN
std,NaN,NaN,7.144888e+01,NaN,4.332036e-02,3.917460e-02,NaN,NaN
min,NaN,NaN,1.000000e+00,NaN,-7.421000e+01,4.053000e+01,NaN,NaN
25%,NaN,NaN,9.500000e+01,NaN,-7.399000e+01,4.072000e+01,NaN,NaN
50%,NaN,NaN,1.580000e+02,NaN,-7.398000e+01,4.074000e+01,NaN,NaN
75%,NaN,NaN,2.300000e+02,NaN,-7.396000e+01,4.076000e+01,NaN,NaN
max,NaN,NaN,2.630000e+02,NaN,-7.370000e+01,4.091000e+01,NaN,NaN

Pourcentage de valeurs manquantes :

Date          0.0
Time          0.0
locationID    0.0
Base          0.0
Lon           0.0
Lat           0.0
Borough       0.0
Zone          0.0
dtype: float64

In [4]:
# On jette la colonne locationID
useless_cols = ['locationID','Time','Base','Borough','Zone']

print("Les colonnes suivantes vont être jetées : ", useless_cols)
dataset = result1415.drop(useless_cols, axis=1)
dataset.head()

Les colonnes suivantes vont être jetées :  ['locationID', 'Time', 'Base', 'Borough', 'Zone']

       Date    Lon    Lat
0  9/1/2014 -73.99  40.76
1  9/1/2014 -73.98  40.76
2  9/1/2014 -73.98  40.76
3  9/1/2014 -73.96  40.81
4  9/1/2014 -73.99  40.72

In [5]:
# Création du pipeline pour les variables quantitatives
numeric_features = [1,2] # Positions des colonnes quantitatives dans X
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler()) # pour normaliser les variables
])

# Création du pipeline pour les variables catégorielles
categorical_features = [0] # Positions des colonnes catégorielles dans X
categorical_transformer = Pipeline(
    steps=[
    ('encoder', OneHotEncoder(drop='first')) # on encode les catégories sous forme de colonnes comportant des 0 et des 1
    ])

# On combine les pipelines dans un ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Preprocessings sur le dataset
print("Preprocessing sur le train set...")
print(dataset.head())
X = preprocessor.fit_transform(dataset) # fit_transform !!
print('...Terminé.')
print(X[0:5, :])
print()

Preprocessing sur le train set...
       Date    Lon    Lat
0  9/1/2014 -73.99  40.76
1  9/1/2014 -73.98  40.76
2  9/1/2014 -73.98  40.76
3  9/1/2014 -73.96  40.81
4  9/1/2014 -73.99  40.72
...Terminé.
  (0, 0)	-0.5280533725311901
  (0, 1)	0.5169767491214281
  (0, 182)	1.0
  (1, 0)	-0.2972150424021254
  (1, 1)	0.5169767491214281
  (1, 182)	1.0
  (2, 0)	-0.2972150424021254
  (2, 1)	0.5169767491214281
  (2, 182)	1.0
  (3, 0)	0.16446161785666014
  (3, 1)	1.7933138715828398
  (3, 182)	1.0
  (4, 0)	-0.5280533725311901
  (4, 1)	-0.5040929488475925
  (4, 182)	1.0

In [6]:
# Import K-Means 
from sklearn.cluster import KMeans

# Instanciate KMeans with k=3 and initialisation with k-means++
# You should always use k-means++ as it alleviate the problem of local minimum convergence 
kmeans = KMeans(n_clusters=3, random_state=0)

# Fit kmeans to our dataset
kmeans.fit(X)

KMeans(n_clusters=3, random_state=0)

In [7]:
c=kmeans.predict(X)

In [8]:
# Cluster centers coordinates
# Let's use inverse transform to have the real coordinates 

cluster_centers = kmeans.cluster_centers_
cluster_centers

array([[-4.69096053e-02,  7.76393614e-01,  4.31366731e-03,
         4.12277569e-03,  4.83382683e-03,  5.95066362e-03,
         6.78494859e-03,  2.37285531e-03,  4.83237702e-03,
         3.97698926e-03,  4.98299615e-03,  5.59980966e-03,
         7.00499749e-03,  3.49613569e-03,  4.97123658e-03,
         5.63524945e-03,  4.82802759e-03,  4.26308506e-03,
         6.02299302e-03,  2.25316546e-03,  4.82899413e-03,
         5.28536203e-03,  4.04078089e-03,  4.43335716e-03,
         6.52172757e-03,  2.86740153e-03,  5.69614146e-03,
         5.76975958e-03,  3.29735067e-03,  5.28197914e-03,
         6.99678191e-03,  3.82701450e-03,  5.76782650e-03,
         5.60754197e-03,  3.57506978e-03,  5.59368824e-03,
         5.94873054e-03,  4.38825197e-03,  4.73668958e-03,
         4.79951467e-03,  4.73975029e-03,  6.01944904e-03,
         5.14344176e-03,  5.08754354e-03,  3.49098081e-03,
         3.44410363e-03,  4.94723417e-03,  5.91554600e-03,
         5.31886874e-03,  4.76020871e-03,  4.30593499e-03,
         3.75162439e-03,  5.38733198e-03,  5.29534961e-03,
         5.89202687e-03,  4.61120049e-03,  4.53951545e-03,
         5.38282146e-03,  5.43533679e-03,  4.34234132e-03,
         6.10369909e-03,  3.16767324e-03,  5.04566015e-03,
         4.70414940e-03,  4.80193102e-03,  4.85009692e-03,
         6.99549319e-03,  4.26421269e-03,  5.66795071e-03,
         5.22575874e-03,  3.52046028e-03,  5.49365136e-03,
         6.72099587e-03,  4.71091518e-03,  6.49144266e-03,
         5.24895569e-03,  3.76273960e-03,  5.89847047e-03,
         5.80890444e-03,  4.56931710e-03,  5.92956083e-03,
         5.39280904e-03,  4.40935475e-03,  6.31698222e-03,
         5.01763049e-03,  4.74909351e-03,  5.10461908e-03,
         3.63499525e-03,  4.52131228e-03,  6.49337574e-03,
         6.06262115e-03,  4.76230288e-03,  4.48345614e-03,
         3.56298803e-03,  5.32772869e-03,  6.77270575e-03,
         6.30296739e-03,  4.16949178e-03,  5.07932795e-03,
         4.23779393e-03,  5.50315567e-03,  5.21512680e-03,
         6.56151680e-03,  4.20283741e-03,  5.00909272e-03,
         4.84397550e-03,  5.29551070e-03,  5.32627888e-03,
         6.94764946e-03,  2.77590242e-03,  6.12077463e-03,
         5.15842313e-03,  3.99519243e-03,  5.94824727e-03,
         6.49998043e-03,  3.80623389e-03,  6.79332527e-03,
         6.41750236e-03,  5.60721979e-03,  6.29765142e-03,
         5.61543538e-03,  4.15467150e-03,  5.75928873e-03,
         4.61877172e-03,  4.70849883e-03,  6.41009222e-03,
         4.86942772e-03,  4.60958959e-03,  3.62629639e-03,
         3.71731223e-03,  5.75800001e-03,  5.41020676e-03,
         5.00651528e-03,  4.81127424e-03,  4.84252569e-03,
         4.00211930e-03,  6.32584217e-03,  4.40597186e-03,
         6.57682034e-03,  4.66339364e-03,  5.70306833e-03,
         4.37407605e-03,  6.60597763e-03,  3.85778268e-03,
         6.28508640e-03,  3.16815651e-03,  5.35511399e-03,
         5.11347903e-03,  5.91119657e-03,  3.31845345e-03,
         6.61113251e-03,  3.07778503e-03,  5.85191546e-03,
         5.40924022e-03,  4.84204242e-03,  4.88521453e-03,
         6.27123267e-03,  1.69208908e-03,  5.92198960e-03,
         5.46143337e-03,  4.37600913e-03,  6.32616435e-03,
         7.79965433e-03,  4.14774464e-03,  5.01908030e-03,
         5.28777838e-03,  4.75747019e-03,  6.59164062e-03,
         5.27456900e-03,  4.84606967e-03,  3.97972779e-03,
         5.14795228e-03,  6.42942302e-03,  5.01505305e-03,
         5.47979763e-03,  4.28386566e-03,  5.66054058e-03,
         5.80826008e-03,  5.65248608e-03,  5.25701019e-03,
         5.71643880e-03,  5.65538570e-03,  1.20736935e-03,
         3.34857728e-03,  3.31120440e-03,  3.18684294e-03,
         2.84742637e-03,  1.70352647e-03,  2.59612601e-03,
         3.50499564e-03,  3.30911023e-03,  3.59601148e-03,
         3.30153901e-03,  2.39573008e-03,  2.43841893e-03,
         1.60671139e-03,  2.45388357e-03,  2.57292906e-03,
         2.61368482e-03,  3.15816893e-03,  2.75238329e-03,
         2.52556860e-03,  1.69901595e-03,  2.54667139e-03,
         2.87271750e-03,  3.10645905e-03,  3.42541719e-03,
         3.50161275e-03,  2.58227227e-03,  1.83352608e-03,
         2.71372169e-03,  3.18426550e-03],
       [-4.29719664e-01, -6.02676181e-01,  5.54092385e-03,
         4.96909037e-03,  4.35699622e-03,  6.08926094e-03,
         5.37486509e-03,  2.56097445e-03,  4.09061581e-03,
         3.30559879e-03,  4.77504715e-03,  8.03431318e-03,
         5.91660207e-03,  3.98277002e-03,  4.15410886e-03,
         4.48121028e-03,  5.16339759e-03,  5.67992215e-03,
         5.48733096e-03,  2.58909092e-03,  4.05748326e-03,
         4.36848041e-03,  4.99390678e-03,  3.94726143e-03,
         5.94379452e-03,  2.45774874e-03,  5.09119239e-03,
         4.81068774e-03,  3.92944113e-03,  4.80395563e-03,
         6.31841673e-03,  3.09360328e-03,  5.58699261e-03,
         5.27586345e-03,  3.23722166e-03,  5.07297609e-03,
         7.08719748e-03,  3.89947664e-03,  5.85152499e-03,
         5.87884945e-03,  4.32848375e-03,  5.50897932e-03,
         5.91435804e-03,  4.43751756e-03,  4.45692188e-03,
         4.34260798e-03,  4.66099726e-03,  5.99197532e-03,
         4.62390465e-03,  4.53084310e-03,  3.79202686e-03,
         3.15841635e-03,  4.91391345e-03,  7.46419573e-03,
         5.01819518e-03,  5.68071416e-03,  3.97577390e-03,
         4.36900842e-03,  5.30978802e-03,  5.61062100e-03,
         5.44839031e-03,  4.07437954e-03,  4.50734671e-03,
         3.98039398e-03,  5.94920661e-03,  4.16176499e-03,
         6.45701903e-03,  3.37529595e-03,  5.30054786e-03,
         4.61611652e-03,  4.88276094e-03,  4.81266777e-03,
         6.75296794e-03,  3.83651159e-03,  6.34798522e-03,
         5.21553845e-03,  3.33358326e-03,  5.29803982e-03,
         7.23451192e-03,  3.92732910e-03,  7.16243872e-03,
         6.60010940e-03,  3.87650826e-03,  5.92003413e-03,
         6.37016159e-03,  4.12256034e-03,  6.53437231e-03,
         4.41217314e-03,  4.20994578e-03,  6.51443998e-03,
         4.99641482e-03,  4.79524349e-03,  4.63037275e-03,
         3.31272691e-03,  5.03429945e-03,  9.16438391e-03,
         5.40205754e-03,  5.38898933e-03,  4.43487751e-03,
         4.01986263e-03,  5.45710246e-03,  6.64155809e-03,
         5.78816394e-03,  5.17250574e-03,  4.51341881e-03,
         4.41600120e-03,  7.03162456e-03,  4.56173162e-03,
         6.22456318e-03,  2.87659168e-03,  5.65431373e-03,
         4.77570716e-03,  5.78961597e-03,  5.20722231e-03,
         6.67205060e-03,  3.32249507e-03,  6.57648101e-03,
         6.26785990e-03,  4.72211427e-03,  5.75107133e-03,
         7.47119184e-03,  3.71982166e-03,  7.16785081e-03,
         5.76017948e-03,  4.22195798e-03,  6.02497587e-03,
         6.19090262e-03,  4.09008780e-03,  4.68568167e-03,
         4.84434830e-03,  5.23454677e-03,  5.60520891e-03,
         4.52807106e-03,  4.67710153e-03,  4.29970727e-03,
         3.65104852e-03,  5.94630257e-03,  5.53669978e-03,
         5.80030815e-03,  5.92531422e-03,  4.79656351e-03,
         4.06104732e-03,  6.62914988e-03,  4.71591017e-03,
         5.67833812e-03,  4.10949212e-03,  4.52529901e-03,
         4.69888189e-03,  8.06137363e-03,  3.74424206e-03,
         6.43880273e-03,  2.61258731e-03,  5.18042587e-03,
         5.03350744e-03,  6.46903123e-03,  4.28465902e-03,
         6.59060525e-03,  1.66903567e-03,  5.70447456e-03,
         5.60058884e-03,  3.94422538e-03,  5.44733430e-03,
         1.00984314e-02,  3.73434190e-03,  6.35854540e-03,
         6.77884037e-03,  4.31435951e-03,  5.87964146e-03,
         6.41702237e-03,  4.26974278e-03,  5.45631044e-03,
         4.87378479e-03,  6.35260530e-03,  4.55367948e-03,
         5.61735311e-03,  3.74107401e-03,  5.41301373e-03,
         7.63909863e-03,  5.21646247e-03,  6.83388528e-03,
         4.87550082e-03,  6.66690251e-03,  1.18630366e-03,
         2.43794841e-03,  2.53048195e-03,  2.87157560e-03,
         3.47363758e-03,  1.90518758e-03,  1.82189420e-03,
         2.31413036e-03,  2.34435886e-03,  2.72175312e-03,
         2.95790503e-03,  1.79879382e-03,  3.06971088e-03,
         2.11850312e-03,  1.75958917e-03,  1.94003616e-03,
         2.03151367e-03,  2.60400716e-03,  2.80082243e-03,
         2.93599267e-03,  2.00009715e-03,  1.79140169e-03,
         2.18635224e-03,  2.16773993e-03,  2.58169879e-03,
         3.11921170e-03,  3.30163873e-03,  2.18503222e-03,
         1.97118867e-03,  2.28403386e-03],
       [ 2.56193867e+00, -1.83462045e-01,  4.80950517e-03,
         5.50730961e-03,  4.49238700e-03,  6.68404195e-03,
         7.71052240e-03,  3.14300946e-03,  4.75388307e-03,
         5.59977231e-03,  5.03343827e-03,  6.75844553e-03,
         6.71654837e-03,  3.97734086e-03,  4.70259517e-03,
         4.42376234e-03,  5.00020949e-03,  7.83115733e-03,
         5.96239946e-03,  4.62024558e-03,  3.48757749e-03,
         4.36163896e-03,  4.54728673e-03,  5.80636866e-03,
         6.85740951e-03,  3.92966478e-03,  3.93038714e-03,
         3.74112755e-03,  5.88077224e-03,  5.07027888e-03,
         7.68307254e-03,  3.04549020e-03,  4.43170835e-03,
         6.03608068e-03,  4.94819922e-03,  5.27615286e-03,
         8.07242719e-03,  2.98192210e-03,  4.34357984e-03,
         5.16490867e-03,  4.24895004e-03,  5.97684676e-03,
         8.78540130e-03,  3.49480114e-03,  4.62819159e-03,
         5.45818880e-03,  4.35008112e-03,  6.21956135e-03,
         6.40304202e-03,  3.74401701e-03,  4.00117890e-03,
         4.85067996e-03,  4.95470050e-03,  6.46227594e-03,
         5.68790082e-03,  3.88415579e-03,  3.91232802e-03,
         4.09725342e-03,  5.41484691e-03,  7.73869463e-03,
         5.96023237e-03,  3.95711464e-03,  4.12325856e-03,
         4.30096031e-03,  5.54270549e-03,  6.27879527e-03,
         6.98237863e-03,  3.34599398e-03,  4.65853091e-03,
         4.79361314e-03,  6.42904716e-03,  5.69223501e-03,
         7.34283869e-03,  2.83961622e-03,  5.68645609e-03,
         5.19019144e-03,  5.82298305e-03,  5.91111156e-03,
         7.44758159e-03,  2.87212264e-03,  5.44446387e-03,
         5.41484691e-03,  4.80878280e-03,  6.90725269e-03,
         8.27757881e-03,  3.44423560e-03,  4.84128922e-03,
         5.38306286e-03,  4.75099361e-03,  7.30166390e-03,
         7.51476153e-03,  3.81191931e-03,  5.70957177e-03,
         5.50153069e-03,  5.49502941e-03,  7.28649423e-03,
         6.58724506e-03,  3.87982160e-03,  4.78205530e-03,
         4.43098598e-03,  6.03030176e-03,  8.40543738e-03,
         6.59591344e-03,  4.22077781e-03,  4.12542565e-03,
         4.96409124e-03,  5.82370541e-03,  6.35825540e-03,
         6.90364086e-03,  4.28434592e-03,  4.62385740e-03,
         5.52175691e-03,  6.82995965e-03,  6.49839418e-03,
         7.81598767e-03,  3.60676769e-03,  5.16490867e-03,
         5.74785710e-03,  5.42207056e-03,  6.07725548e-03,
         7.38473585e-03,  2.90318433e-03,  4.92508354e-03,
         6.08953568e-03,  5.42351529e-03,  7.02138633e-03,
         8.79768150e-03,  3.40089371e-03,  5.21186239e-03,
         6.91086451e-03,  4.86007071e-03,  7.03583363e-03,
         7.24604180e-03,  3.73245918e-03,  5.31732765e-03,
         5.77602933e-03,  5.63805765e-03,  6.54173607e-03,
         6.07075419e-03,  3.97156194e-03,  4.37680862e-03,
         4.68381368e-03,  6.10831716e-03,  6.26723743e-03,
         6.76205735e-03,  4.33057727e-03,  4.30673923e-03,
         4.78133294e-03,  6.16899581e-03,  7.79720618e-03,
         7.41074099e-03,  2.68358541e-03,  4.71993192e-03,
         4.93880847e-03,  6.94770512e-03,  7.26265619e-03,
         7.70474348e-03,  1.23957808e-03,  5.24364644e-03,
         6.25495723e-03,  5.59471576e-03,  5.87427095e-03,
         8.14899786e-03,  3.78085762e-03,  5.33321968e-03,
         6.04547142e-03,  4.81961827e-03,  6.94698275e-03,
         8.51162502e-03,  3.84081390e-03,  6.94553802e-03,
         5.10928658e-03,  7.35222943e-03,  6.37414743e-03,
         4.09869815e-03,  5.68139954e-03,  5.93206014e-03,
         7.59855585e-03,  5.78903190e-03,  4.46277004e-03,
         4.68959260e-03,  8.19739631e-03,  3.30120736e-04,
         1.26413849e-04,  1.29303308e-04,  2.01539793e-04,
         2.51382968e-04,  2.26100198e-04,  1.49529524e-04,
         1.47362429e-04,  1.98650334e-04,  1.79868847e-04,
         2.67997359e-04,  2.61496075e-04,  6.39292891e-04,
         5.42496002e-04,  1.44472970e-04,  1.46640064e-04,
         1.59642632e-04,  1.48807159e-04,  2.07318712e-04,
         2.88223575e-04,  2.88945940e-04,  1.75534658e-04,
         2.54994792e-04,  1.39416416e-04,  3.38789114e-04,
         2.05151617e-04,  3.05560331e-04,  2.84611751e-04,
         2.11652901e-04,  1.32192767e-04]])

In [10]:
import plotly.express as px
fig = px.scatter_mapbox(X, lat=X[:,2], lon=X[:,1], color=c,
                  color_continuous_scale=px.colors.cyclical.IceFire, size_max=15, zoom=10)
fig.show()